# Core libraries
torch==2.7.1+cpu
torchvision==0.22.1+cpu
torchaudio==2.7.1+cpu
--index-url https://download.pytorch.org/whl/cpu

# Transformers and related libraries
transformers==4.54.0
peft==0.16.0
accelerate==1.9.0
bitsandbytes==0.46.1
sentence-transformers==4.1.0
